<style>
  .twam-app-footer {
    background: var(--twam-red);
    color: var(--white);
    font-family: var(--font-family);
    font-size: small;
    padding: 1rem 5vw;
    position: relative;
    text-align: center;
  }

  .twam-app-footer a {
    color: var(--white);
  }

  @media (min-width: 770px) {
    .twam-app-footer {
      padding-bottom: 0.2rem;
      padding-top: 0.2rem;
    }

    .twam-app-footer a {
      display: inline-block;
    }
  }
</style>

<footer class="twam-app-footer">
  Empowering people with the tools that create livelihoods and transform lives -
  <a href="https://www.twam.uk/">TWAM website</a>
</footer>
