---
layout: default.njk
---
<style>
  main {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .centred {
    background: var(--twam-grey);
    border-radius: 1rem;
    padding: 2rem;
  }

  .centred h1 {
    color: var(--white);
  }

  .message a:link {
    color: white;
  }
  .message a:visited {
    color: var(--blue);
  }
</style>

<div class="centred">
  <h1 id="message">{{ content | safe }}</h1>
</div>

<script defer></script>
